<link rel="stylesheet" href="../static/css/update_patient.css">

{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to ABC Hospitals</h1>
            {% if loggedin %}
            <h3 class="text-center">Patient Medicine Details</h3>
            <form action="" name="get_patient" method="POST">
                {{form.hidden_tag()}}
                <div class="search">
                    {{form.patient_id(placeholder='Enter Patient ID')}}
                    {{ form.submit_get_details() }}
                </div>
            </form>
            <hr>
            <br><br>
            {% if patient_details %}
                <p>Patient SSN ID: {{patient_details.patient_ssn}}</p>
                <p>Patient Name: {{patient_details.patient_name}}</p>
                <p>Patient Age: {{patient_details.patient_age}}</p>
                <p>Patient DOJ: {{patient_details.patient_doj}}</p>
                <p>Patient Ward: {{patient_details.patient_rtype}}</p>
                <p>Patient Status: {{patient_details.patient_status}}</p>
                <p>Patient Address: {{patient_details.patient_address}}, {{patient_details.patient_city}}, {{patient_details.patient_state}}</p>
                
            {% endif %}
            {% if names_medicines %}
            <h3 class="text-center">Medicines Issued</h3>
            <table class="table">
                <tr>
                  <th>Medicine</th>
                  <th>Quantity</th>
                  <th>Rate</th>
                  <th>Amount</th>
                </tr>
                {% for medicine_name, quant_issued, rate,price in  names_medicines %}
                <tr>
                  <td>{{medicine_name}}</td>
                  <td>{{quant_issued}}</td>
                  <td>₹{{rate}}</td>
                  <td>₹{{price}}</td>
                </tr>
                {% endfor %}
              </table>
            {%  endif %}
            {% if patient_details %}
            {% if (patient_details.patient_status=="Active")  %}
            <a style="display: block;
                width: 30%;
                height: 8%;
                background: #2196F3;
                padding: 10px;
                text-align: center;
                border-radius: 2%;
                color: white;
                font-weight: bold;
                line-height: 25px;" href = {{ url_for("issue_medicines", patient_id = patient_details.patient_id, medicine_id = 0  ) }} >Issue New Medicines</a>
            {% else %}
            <p>The Patient is Discharged.</p>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
