<link rel="stylesheet" href="static/css/update_patient.css">
{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to ABC Hospitals</h1>
            {% if loggedin %}
            <h3>Update Patient Details</h3>
            <form action="" name="get_patient" method="POST">
                {{form.hidden_tag()}}
                <div class="search">
                    {{form.patient_id}}
                    {{ form.submit() }}
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
