{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to ABC Hospitals</h1>
            {% if loggedin %}
            <h3>Let's get started.</h3>
            <a href="{{ url_for('register') }}" class="btn btn-info">New Patient</a>
            <a href="{{ url_for('patientView') }}" class="btn btn-info">View Patient Details</a>
            <a href="{{ url_for('patientUpdate') }}" class="btn btn-info">Update Patient Details</a>
            <a href="{{ url_for('patientDelete') }}" class="btn btn-info">Delete Patient Details</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
