<!-- <link rel="stylesheet" href="static/css/view_all.css"> -->
{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to ABC Hospitals</h1>
            {% if loggedin %}
            <div class="access_container" style=" margin-top: 2%; margin-bottom: 2%;  margin-left: 18%;">
                <a href="{{ url_for('register') }}" class="btn btn-info">New Patient</a>
                <a href="{{ url_for('patientView') }}" class="btn btn-info">Search Patient Details</a>
                <!-- <a href="{{ url_for('viewAll') }}" class="btn btn-info">View All Patient(s) Details</a> -->
                <a href="{{ url_for('patientUpdate') }}" class="btn btn-info">Update Patient Details</a>
                <a href="{{ url_for('patientDelete') }}" class="btn btn-info">Delete Patient Details</a>
                </div>
            <h3 class="text-center">View All Patient Details</h3>
            
            <hr>
            <br><br>
            <style>
                table, th, td {
                  border: 1px solid black;
                  /* border-collapse: collapse; */
                }
                td {
                  padding-top: 1%;
                  padding-bottom:1%;
                  text-align:center;

                }
                td{
                    background-color: ghostwhite;
                }
                th{
                    padding:1%;
                    background-color: grey;
                    text-align:center;
                }
                </style>

            {% if view_det %}
            <table style="width: 100%">
                <tr>
                    <th> Patient ID </th>
                    <th> Patient SSN ID </th>
                    <th> Patient Name </th>
                    <th> Patient Age </th>
                    <th> Patient DOJ </th>
                    <th> Patient Ward </th>
                    <th> Patient Status </th>
                    <th>  Patient Address  </th>
                </tr>

                {% for i in view_det %} 
                <tr>
                <td>{{i.patient_id}}</td>
                <td>{{i.patient_ssn}}</td>
                <td>{{i.patient_name}}</td>
                <td>{{i.patient_age}}</td>
                <td>{{i.patient_doj}}</td>
                <td>{{i.patient_rtype}}</td>
                {%if i.patient_status == "Active" %}
                <td style="background-color: rgb(56, 179, 19)" >{{i.patient_status}}</td>
                {% else %}
                <td style="background-color: red">{{i.patient_status}}</td>
                {% endif %}
                <td>{{i.patient_address}}, {{i.patient_city}}, {{i.patient_state}}</td>
               </tr>
               {% endfor %}
               
            </table>
            {% else %}
            <p> No data available </p>
            {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock %}
