
.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.search input[type=submit] {
    float: right;
    width: 20%;
    padding: 15px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.selectbox{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    max-width: 80%;
    background: #f1f1f1;
}
/* .access_container{
   
} */

